<p>
	A new comment has been submitted by [$CURRENT_USER$].
</p>

<p>
	[$CURRENT_USER$] says:<br />
	[$COMMENT$]
</p>

<p>
	Click on the link below to view the associated request details:<br />
	<a href="[$REQUEST_DETAILS_URL$]">[$REQUEST_DETAILS_URL$]</a>
</p>